{% extends 'market/main/main_base.html' %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block content %}
<div class="banner">
    <div class="container full-height">
        <div class="row justify-center items-center full-height">
            <div class="lg-12 md-12 sm-12 ex-12 title">
                <div class="row justify-center items-center">
                    <span>action</span>
                    <span>/</span>
                    <span>market</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="top-new">
    <div class="container">
        <div class="row justify-around">
            <div class="lg-12 md-12 sm-12 ex-12 t-n-title t-a-center">
                top 5 new games
            </div>
            <div class="lg-2 md-3 sm-3 ex-10 game p-null">
                <img src="{% static 'img/bg.jpg' %}" alt="">
                <div class="more t-a-center">
                    <div class="row justify-center items-center full-height">
                        <div class="lg-12 md-12 sm-12 ex-12 t-title">
                            the division
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 t-price">
                            ціна
                            <br>
                            <br>
                            500 uah.
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 control">
                            <div class="row justify-around">
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Купити</a>
                                </div>
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Детал.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg-2 md-3 sm-3 ex-10 game p-null">
                <img src="{% static 'img/bg.jpg' %}" alt="">
                <div class="more t-a-center">
                    <div class="row justify-center items-center full-height">
                        <div class="lg-12 md-12 sm-12 ex-12 t-title">
                            the division
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 t-price">
                            ціна
                            <br>
                            <br>
                            500 uah.
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 control">
                            <div class="row justify-around">
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Купити</a>
                                </div>
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Детал.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg-2 md-3 sm-3 ex-10 game p-null">
                <img src="{% static 'img/bg.jpg' %}" alt="">
                <div class="more t-a-center">
                    <div class="row justify-center items-center full-height">
                        <div class="lg-12 md-12 sm-12 ex-12 t-title">
                            the division
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 t-price">
                            ціна
                            <br>
                            <br>
                            500 uah.
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 control">
                            <div class="row justify-around">
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Купити</a>
                                </div>
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Детал.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg-2 md-3 sm-3 ex-10 game p-null">
                <img src="{% static 'img/bg.jpg' %}" alt="">
                <div class="more t-a-center">
                    <div class="row justify-center items-center full-height">
                        <div class="lg-12 md-12 sm-12 ex-12 t-title">
                            the division
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 t-price">
                            ціна
                            <br>
                            <br>
                            500 uah.
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 control">
                            <div class="row justify-around">
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Купити</a>
                                </div>
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Детал.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg-2 md-3 sm-3 ex-10 game p-null">
                <img src="{% static 'img/bg.jpg' %}" alt="">
                <div class="more t-a-center">
                    <div class="row justify-center items-center full-height">
                        <div class="lg-12 md-12 sm-12 ex-12 t-title">
                            the division
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 t-price">
                            ціна
                            <br>
                            <br>
                            500 uah.
                        </div>
                        <div class="lg-12 md-12 sm-12 ex-12 control">
                            <div class="row justify-around">
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Купити</a>
                                </div>
                                <div class="lg-6 md-6 sm-6 ex-6">
                                    <a href="#">Детал.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
