<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block main_stylesheets %}{% endblock %}
    {% block custom_stylesheets %}{% endblock %}
</head>
<body>
    {% block preloader %}{% endblock %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block main_scripts %}{% endblock %}
    {% block custom_scripts %}{% endblock %}
</body>
</html>
